@font-face {
  font-family: "norseregular";
  src: url("fonts/norse-webfont.woff2") format("woff2"),
    url("fonts/norse-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "norsebold";
  src: url("fonts/norsebold-webfont.woff2") format("woff2"),
    url("fonts/norsebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.body,
.image,
.banner {
  display: flex;
}

.odin {
  height: 60px;
  padding: 15px;
}

.title {
  font-family: "norsebold", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
}

.image {
  background-image: url(photo-1585202900225-6d3ac20a6962.png);
  height: 100vh;
  width: 25vw;
}

.banner {
  background-color: rgba(0, 0, 0, 0.5);
  height: 75px;
  margin-top: 33vh;
  width: 25vw;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: fit-content;
}

.form {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  width: 100;
  padding: 10px;
}

.firstRow,
.secondRow,
.thirdRow {
  display: flex;
  gap: 10px;
}

.input {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 10px;
}

.top {
  padding: 100px 100px 10px 10px;
  font-weight: bold;
}

.bottom {
  padding: 25px;
}

button {
  padding: 10px;
  background-color: forestgreen;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.form > p {
  font-weight: bold;
}

.error {
  border-color: red;
}

input:focus {
  border: 1px solid blue;
}
